// Background colors
.bg-light { background-color: $color-light }
.bg-butter { background-color: $color-butter }
.bg-fresh { background-color: $color-fresh }
.bg-ocean { background-color: $color-ocean }
.bg-coral { background-color: $color-coral }

.hover-bg-light:hover { background-color: $color-light }
.hover-bg-coral:hover { background-color: $color-coral }

// Text colors
.text-light { color: $color-light }
.text-butter { color: $color-butter }
.text-fresh { color: $color-fresh }
.text-ocean { color: $color-ocean }
.text-coral { color: $color-coral }

.hover-text-fresh:hover { color: $color-fresh }

// Border colors
.border-light { border-color: $color-light !important }
.border-butter { border-color: $color-butter !important }
.border-fresh { border-color: $color-fresh !important }
.border-ocean { border-color: $color-ocean !important }
.border-coral { border-color: $color-coral !important }

.hover-border-fresh:hover { border-color: $color-fresh }

// Button colors
.btn-outline-coral {
  color: $color-light;
  background-color: $color-coral;

  &:hover {
    color: $color-coral;
    border-color: $color-coral;
    background-color: transparent;
  }
}
